/* 画面端の余白を消す */
body {
  margin: 0;
}

#slide_area{
  position: relative;
  width: 1900px;
  height: 640px;
}

.img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn{
  background-color: #007bff;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  display: flex;
  cursor: pointer;
}

#prev{
  left: 10px;
}

#next{
  right: 10px;
}

#page{
  position: absolute;
  bottom: 10px;
}

#page {
  position: absolute;
  bottom: -16px;
  right: 50%;
  background: #333333;
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;

  font-size: 20px;
}


.title{
  margin: 0;
  padding: 15px 0;
  text-align: center;
  /* font-size: 40px; */
  background-color: antiquewhite;
  font-weight: bold;
  color: blue;
}

.introduce{
    align-items: center;
}

.introduce-content {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap:20px;
}
.introduce-content h3{
    margin: 0;
    text-align: center;
    padding-bottom: 8px;
    font-size: 30px;
    color:hotpink;
    font-weight: bold;
    text-decoration: underline;
}

.content{
    box-shadow:0 2px 8px gray ;
    border-left: 6px solid #5cc3ff; 
    padding: 10px;
    margin: 30px;
}

.introduce-content p{
    margin: 0 0 10px 0;
    padding-bottom: 1.2px;
}

.last p {
    font-size: 20px;
}